body
  margin: 0
  font-family: 'Noto Sans JP', sans-serif
  background-color: #fff

// .form-box
//   max-width: 500px
//   margin: auto
//   padding: 50px
//   border-radius: 20px
//   box-shadow: 4px 3px 7px 2px #e4e4e4

h1,h2
  text-align: center

textarea
  min-height: 120px

.description > span,
.detail > span
  display: block

#details .detail:nth-of-type(n+2)
  span
    display: none


.plus,
.minus
  position: relative
  width: 36px
  height: 36px
  padding: inherit

.plus::before,
.minus::before
  font-size: 24px
  line-height: 24px
  position: absolute

.plus::before
  content: '+'
  top: 2.4px
  left: 10px

.minus::before
  content: '-'
  top: 2px
  left: 12.5px
