<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    link(href="https://fonts.googleapis.com/css?family=Noto+Sans+JP", rel="stylesheet")
    style
      include:clean-css ./skeleton.css
      include:clean-css ./normalize.css
      include:clean-css:scss ./options.sass
    title Settings

  body
    .sidebar
      ul#itemlist
    .form-box
      h2 商品情報
      form.form(class=['field'])
        label(for="name") 商品名
        input#name(type="text", name="name")

        label(for="price") 値段(税抜き)
        input#price(type="text", name="price")

        label(for="weight") 重さ(g)
        input#weight(type="text", name="weight")

        label(for="rakuten_stock") 在庫数(楽天)
        input#rakuten_stock(type="text", name="rakuten_stock")

        label(for="makeshop_stock") 在庫数(とみクリ)
        input#makeshop_stock(type="text", name="makeshop_stock")

        label(for="jancode") JANコード
        input#jancode(type="text", name="jancode")

        div.descriptions-field
          h4 商品説明
          div#descriptions
            div.description_1
              span タイトル
              input(name="title")
              span 本文
              input(name="body")
          button.plus(type="button" class=['button is-light'])
          button.minus(type="button" class=['button is-light'])

        div.details-field
          h4 商品詳細
          div#details
            div.detail_1
              span タイトル
              input(name="title")
              span 内容
              input(name="body")
          button.plus(type="button" class=['button is-light'])
          button.minus(type="button" class=['button is-light'])

        button#save 保存
        button#new 新規として登録
        button#delete 削除

    script(src="options.js")
