<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    link(href="https://fonts.googleapis.com/css?family=Noto+Sans+JP", rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css", rel="stylesheet")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.8.1/css/all.css", integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf", crossorigin="anonymous")
    style
      //- include:clean-css ./normalize.css
      //- include:clean-css ./skeleton.css
      include:clean-css:scss ./options.sass
    title Settings

  body
    section.section.columns.is-mobile.is-fullheight.is-centered

      .container.column.is-3.is-narrow-mobile.is-fullheight
        aside.menu
          p.menu-label Item List
          ul.menu-list#itemlist

      .column.is-1.is-hidden-touch

      .container.column
        form#form
          .field.padding-bottom
            label(for="name", class=['label']) 商品名
            .control
              input#name(type="text", name="name", class=['input'])

          .columns.is-variable.is-0-mobile.is-1-tablet.is-1-desktop
            .column
              .columns.is-variable.is-1.is-mobile
                .column.field
                  label(for="price", class=['label']) 値段(税抜き)
                  .control
                    input#price(type="text", name="price", class=['input'])
                .column.field
                  label(for="weight", class=['label']) 重さ(g)
                  .control
                    input#weight(type="text", name="weight", class=['input'])

            .column
              .columns.is-variable.is-1.is-mobile
                .column.field
                  label(for="rakuten_stock", class=['label']) 在庫数(楽天)
                  .control
                    input#rakuten_stock(type="text", name="rakuten_stock", class=['input'])
                .column.field
                  label(for="makeshop_stock", class=['label']) (とみクリ)
                  .control
                    input#makeshop_stock(type="text", name="makeshop_stock", class=['input'])

          .columns
            .column.is-half.field
              label(for="jancode", class=['label']) JANコード
              .control.has-icons-right
                input#jancode(type="text", name="jancode", class=['input'])
                span.icon.is-small.is-right
                  i(class=["fas fa-exclamation-triangle"])
              p.help ok

          hr

          div.descriptions-field
            h2.subtitle 商品説明
            div#descriptions(class=['padding-bottom'])
              div.description
                span タイトル
                input(type="text", name="description_title")
                span 本文
                textarea(name="description_body", cols="30", rows="10")
            .field.is-grouped.is-grouped-right
              .control
                button.plus(type="button" class=['button is-light'])
              .control
                button.minus(type="button" class=['button is-light'])

          hr

          div.details-field
            h2.subtitle 商品詳細
            div#details(class=['padding-bottom'])
              div.detail
                span タイトル
                input(type="text", name="detail_title")
                span 内容
                input(type="text", name="detail_body")
            .field.is-grouped.is-grouped-right
              .control
                button.plus(type="button" class=['button is-light'])
              .control
                button.minus(type="button" class=['button is-light'])

          hr

          .level.is-mobile
            .level-left
              .field.is-grouped
                .control
                  button#save(type="button" class=['button is-info']) 保存
                .control
                  button#new(type="button" class=['button']) 新規として登録
            .level-right
              .field
                .control
                  button#delete(type="button" class=['button']) 削除

      .column.is-1.is-hidden-touch

    script(src="options.js")
